################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vagrant/catalog/database_setup.pyc
/vagrant/catalog/catalogitemwithuser.db
/vagrant/catalog/.vs/catalog/v14/.suo
/vagrant/catalog/.vs/config/applicationhost.config
