<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Create New Item</title>
</head>
<body>
    <form action="#" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" maxlength="100" name="name" value="{{item.title}}">
        </div>
        <div>
            <label for="name">Description:</label>
            <input type="text" maxlength="100" name="description" value="{{item.description}}">
        </div>
        <button type="submit" id="submit" type="submit">
            Edit
        </button>
    </form>
</body>
</html>